<section class="story-scene" #scene>
  <img [src]="imageSrc" [class.visible]="imageInView" class="story-image" />
  <div class="text-card" [class.visible]="textInView">
    <span [innerHTML]="formatText(text)"></span>
  </div>
  <div class="button-container">
    <button *ngIf="prevSceneId" (click)="scrollToPrevScene()" class="prev-scene-button">
      ↑ Zurück
    </button>
    <button *ngIf="nextSceneId" (click)="scrollToNextScene()" class="next-scene-button">
      ↓ Weiter
    </button>
  </div>

</section>
